// Table of content



.section-about-hero {
    width: 100%;
    min-height: 80vh;
    padding-top: 15rem;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray-light);
    // justify-content: ;

    h1 {
        font-size: 9rem;
        line-height: 1.2;
        width: 100%;
        max-width: 700px;
        font-weight: bold;
    }
}


// ============================= About her ==================================
.section-work {
    padding: 10rem 0;
    background-color: #F3F3F3;
}


// ============================= section offering ==================================
.section-offering {
    background-color: #f3f3f3;
    padding: 15rem 0;

    .offering {
        padding: 0 1rem;

        &:hover span {
            width: 100%;
            border-bottom: 1px solid var(--clr-primary);
            color: var(--clr-primary);
        }
        &:hover .btn-thin {
            transform: translateX(15px);
        }

        span {
            display: block;
            border-bottom: 1px solid var(--clr-gray);
            margin-bottom: 2rem;
            padding: 1rem 0;
            font-weight: bold;
            color: var(--clr-gray);
            width: 85%;
            @include ease(.3s);
        }
    }
}


// ============================= About Awards ==================================
.about-awards {
    padding: 10rem 0;

    .award-img {
        border-radius: 1rem;
    }
}










// ==========================================================
//                       Media queries
// ==========================================================
@media screen and (max-width: 768px) {
    .section-about-hero {

        h1 {
            font-size: 6rem;
            line-height: 1.5;
        }
    }
}