// Hero page slide down animation




  // infinite scrolling from left to right
  // @keyframes my-animation {
  //   from {
  //     -moz-transform: translateX(100%);
  //     -webkit-transform: translateX(100%);
  //     transform: translateX(100%);
  //   }
  //   to {
  //     -moz-transform: translateX(-100%);
  //     -webkit-transform: translateX(-100%);
  //     transform: translateX(-100%);
  //   }
  // }





  // Animate when you see the intersection oberserver
  .appear {
    scale: .9; 
    opacity: 0;
    transform: translateX(-20px);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
      transform: rotate(0deg) translateX(0px);
    }
  }




  // Images to animate in
  img {
    scale: 1.1; 
    opacity: 0;
    transform: translateX(-20px);
    animation: scale-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
  }
  @keyframes scale-in {
    to {
      scale: 1;
      opacity: 1;
      transform: rotate(0deg) translateX(0px);
    }
  }