---
title: About Sheila Wristberg
meta: Sheila Wristberg is an award-winning insurance and risk management expert with over a decade of experience advising leading institutions across Ghana and internationally. As Managing Director of iRisk Management Ltd and a recognized thought leader, Sheila is passionate about insurance access and literacy. Sheila works to progress inclusive policies and sustainable industry growth as an influential figure recently honored as “Young Insurance Professional of the Year” by the Ghana Insurance Excellence Awards 2022.
layout: 'base.njk'
---






{# =================== About hero================== #}
<section class="section-about-hero">
    <div class="container wrapper">
        <h1>Helping brands <span class="primary-text">thrive</span> in the digital world</h1>
    </div>
</section>
{# end of about hero #}



{# =================== about work ================== #}
<section class="section-work">
    <div class="container wrapper">
        <div class="col-2">
            <div class="text">
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <br>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <br>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
            </div>
            <img src="/assets/about-gp-photo.png" alt="At irisk">
        </div>
    </div>
</section>
{# End of work #}




{# =================== about offerings ================== #}
<section class="section-offering">
    <div class="container wrapper">
        <h1 class="heading-big mb-100">I can help you with...</h1>
        <div class="col-3">
            <div class="offering">
                <span>01</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
            <div class="offering">
                <span>02</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
            <div class="offering">
                <span>03</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
        </div>
    </div>
</section>
{# End of offerings #}




{# =================== about awards ================== #}
<section class="about-awards">
    <div class="container wrapper">
        {# yips #}
        <div class="col-2 mb-20">
            <img src="/assets/speaking-3.png" alt="Yips award winner" class="award-img">
            <div class="award-text">
                <h3>Awwwardsjudge '19-23</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.
                <br>    
                I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
            </div>
        </div>

        {# Angaza #}
        <div class="col-2 mb-20">
            <div class="award-text">
                <h3>Awwwardsjudge '19-23</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.
                <br>    
                I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
            </div>
            <img src="/assets/speaking-3.png" alt="Yips award winner" class="award-img">
        </div>

        {# CIIG #}
        <div class="col-2 mb-20">
            <img src="/assets/speaking-3.png" alt="Yips award winner" class="award-img">
            <div class="award-text">
                <h3>Awwwardsjudge '19-23</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.
                <br>    
                I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
            </div>
        </div>
    </div>
</section>