---
title: Projects
meta: Sheila Wristberg is an award-winning insurance and risk management expert with over a decade of experience advising leading institutions across Ghana and internationally. As Managing Director of iRisk Management Ltd and a recognized thought leader, Sheila is passionate about insurance access and literacy. Sheila works to progress inclusive policies and sustainable industry growth as an influential figure recently honored as “Young Insurance Professional of the Year” by the Ghana Insurance Excellence Awards 2022.
layout: 'base.njk'
---



{# ========================== projects Hero ======================== #}
<section class="section-about-hero project">
    <div class="container wrapper">
        <h1 class="mb-20"> Women Leadership in Insurance Africa (WLIAfrica)</h1>
    </div>
</section>



{# ========================== About WLIAfrica ======================== #}
<section class="about-wliafrica">
    <div class="container wrapper">
        <div class="col-2">
            <div class="text">
                <h1>About WLIAfrica</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic nam vitae atque officiis magnam, et quibusdam ipsa reprehenderit! Illo, vero.</p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro soluta ab, perspiciatis officiis cupiditate accusamus, doloremque at nesciunt culpa atque, qui veritatis vel a esse.</p>
                <a href="www.wli-africa.org" class="btn btn-primary mt-50" target="blank">Visit WLIAfrica's Website</a>
            </div>
            <img src="/assets/about-gp-photo.png" alt="About wliafrica">
        </div>
    </div>
</section>







{# =================== WLIAfrica USP ================== #}
<section class="section-offering">
    <div class="container wrapper">
        <h1 class="heading-big mb-50">How we make a difference</h1>
        <div class="col-3">
            <div class="offering">
                <span>01</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
            <div class="offering">
                <span>02</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
            <div class="offering">
                <span>03</span>
                <h3>Visibility Coaching</h3>
                <p>I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
                <a href="#" class="btn-thin">Learn More &longrightarrow;</a>
            </div>
        </div>
    </div>
</section>
{# End of offerings #}




{# =========================== Banner =============================== #}
<div class="project-banner">
    <div class="container wrapper">
        <div class="banner-container">
            <h1 class="heading-big mb-50">Join WLIAfrica Today</h1>
            <br>
            <a href="#" class="btn btn-primary">Sign Up today</a>
        </div>
    </div>
</div>
{# end of banner #}



{# =========================== Project quote =============================== #}
<section class="project-quote">
    <div class="container wrapper">
        <div class="quote-container">
            <h1>"If you want to go fast, go alone, if you want to go far, go together."</h1>
            <p>African Proverb</p>
        </div>
    </div>
</section>
