---
title: Projects
meta: Sheila Wristberg is an award-winning insurance and risk management expert with over a decade of experience advising leading institutions across Ghana and internationally. As Managing Director of iRisk Management Ltd and a recognized thought leader, Sheila is passionate about insurance access and literacy. Sheila works to progress inclusive policies and sustainable industry growth as an influential figure recently honored as “Young Insurance Professional of the Year” by the Ghana Insurance Excellence Awards 2022.
layout: 'base.njk'
---